$nice-blue: #0248ca;

.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  flex-wrap: wrap;
}

.title {
  margin: 0;  
}

.subtitle {
  margin: 0;
}