/* You can add global styles to this file, and also import other style files */
$nice-blue: #0248ca;

.p-progressbar {
  background: rgba(181, 81, 63, 0.32) !important;
}
.p-progressbar .p-progressbar-value {
  background: #B5513F !important;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}